* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header * {
    display: inline-block;
    vertical-align: middle;
    padding: 15px 0;
}

header img {
    padding-left: 20px;
}

header h1 {
    font-family: sans-serif;
    font-size: 40px;
}

main {
    background-color: #f6f8f9;
    padding-top: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}