* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header * {
    display: inline-block;
    vertical-align: middle;
    padding: 15px 0;
}

header img {
    padding-left: 20px;
}

header h1 {
    font-size: 40px;
}

main {
    background-color: #f6f8f9;
    padding-top: 50px;
    height: 1000px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f6f8f9;
}

nav {
    background-color: white;
    padding: 20px 0 20px 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.nav__button {
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

#add-task {
    background-color: #47adf1;
    color: white;
}

#add-section {
    color: grey;
    border: 1px solid grey;
}