* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header * {
    display: inline-block;
    vertical-align: middle;
    padding: 15px 0;
}

header img {
    padding-left: 20px;
}

header h1 {
    font-size: 40px;
}

main {
    background-color: #f6f8f9;
    padding-top: 50px;
    height: 1000px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f6f8f9;
}

nav {
    background-color: white;
    padding: 20px 0 20px 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.nav__button {
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

#add-task {
    background-color: #47adf1;
    color: white;
}

#add-section {
    color: grey;
    border: 1px solid grey;
}

.arrow-down {
    width: 30px;
}

.main-list {
    list-style-type: "▼";
    padding-left: 20px;
}

.secondary-list {
    list-style-type: none;
}

.secondary-list__item {
    line-height: 26px;
}

.icon-circle {
    border-radius: 50%;
    border: 1px solid green;
    height: 20px;
    width: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: green;
}

.icon-circle--red {
    color: red;
    border-color: red;
}

.secondary-list__label--editorial {
    padding: 0 10px;
    background-color: #45abea;
    border-radius: 10px;
    display: inline-block;
    color: white;
    font-size: 10px;
}

.secondary-list__label--goals {
    background-color: #9c72e4;
}

.secondary-list__label--recruiting {
    background-color: #64c0a9;
}

.secondary-list__label--mobile {
    background-color: #f29e33;
}

.secondary-list__label--website {
    background-color: #d863a1;
}

.secondary-list__label--sales {
    background-color: #b0c926;
}